@import url('https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&display=swap');

body{
    justify-self: center;
    font-family: "Reddit Mono", monospace;
    font-optical-sizing: auto;
    align-items: center;
}